/* justify-content este pentru stanga-dreapta si align-items estep entru sus-jos*/

a{
    text-decoration: none;
}

body {
    background-color: #000000;
}

    #header{
        display:flex;
        height: 15vh;
        justify-content: center;
        align-items: center;
        font-size: 28px;
    }

#title {
    text-align: center;
    color: #BC6FF1;
    font-family: 'Ubuntu', sans-serif;
}

    #menu{
        display:flex;
        height: 65vh;
        justify-content: center;
    }

#forms-container{
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.forms-items{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 6px;
}

input[type=text] {
    color: #BC6FF1;
}   

input::placeholder{
    color: #BC6FF1;
    font-family: 'Ubuntu', sans-serif;
}

.forms-text-input{
    width: 240px;
    height: 80px;

    background-color: #52057B;
    color: #BC6FF1;

    border: none;
    border-radius: 16px;
    text-align: center;
    font-size: 32px;
}

.button {
    background-color: #52057B;
    color: #BC6FF1;

    display: flex;
    justify-content: center;
    align-items: center;;
    text-align: center;

    width: 240px;
    height: 80px;
    font-size: 32px;
    border: none;
    border-radius: 16px;
    margin: 0 10px;
}

.button:hover{
    background-color: #000000;
    transition: 0.3s ease;
}

#submit-button{
    font-family: 'Ubuntu', sans-serif;
}

    #about{
        display:flex;
        flex-direction: column;
        height: 10vh;
        justify-content: center;
        align-items: center;
    }

.about-text{
    color:#BC6FF1;
    font-family: 'Ubuntu', sans-serif;
    margin: 3px;
}